*{
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    color: #333;
    --type-first: Helvitica, Arial, sans-serif;
    --type-secound: 'Spectral', Georgia;
    font-family: ver(--type-first);
    padding-top: 4rem;
}

input{
    display: block;
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

button, input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color:#333
}

.container{
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}